@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --font-default:  "Montserrat", sans-serif; 
    --font-primary: "Allura", cursive;
    --font-secondary: "Poppins", sans-serif;
  }
  
  /* Colors */
  :root {
    --color-default: #000000;
    --bs-primary:#c07e89;
    --bg-red-200: #ffd3da;
    --bs-grey: #404e49;
    --bg-black-900: #f2f2fc;
    --text-black-700: #504e70;
    --text-black-900: #302e4d;
  }

  /* :root {
    --bs-primary: linear-gradient(to right,#000, #c07e89); 
  } */


*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'STIX Two Text', serif;
}

::before,::after{
    box-sizing: border-box;
    border-width: 0;
}

ul {
    list-style: none;
}

.shadow-dark{
    box-shadow: 0 0 20px rgb(185, 113, 124, 0.35);
}


/* NAVIGATION BAR */
.aside{
    width: 270px;
    background: rgb(255, 211, 218);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside .nav-toggler{
    height: 50px;
    width: 55px;
    border: 1px solid #fff;
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 25px;
    border-radius: 5px;
    background: rgb(255, 211, 218);
    display: none;
    align-items: center;
    justify-content: center;
}

.aside .nav-toggler span {
    height: 5px;
    width:  18px;
    background: rgb(192, 126, 137);
    display: inline-block;
}

.aside .nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;    
    background:rgb(192, 126, 137);
    position: absolute;
    top:  27px;
    left: 14px;
}

.aside .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;    
    background:rgb(192, 126, 137);
    position: absolute;
    top:  15px;
    left: 14px;
}

.aside .nav{
    margin-top: 50px;
}

.aside .nav li{
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 500;   
    text-decoration: none; 
    display: block;
    color: black;
    padding: 5px 15px;
    border-bottom: 2px solid rgb(192, 126, 137);
}

.aside .nav li a.active{
    color: #b85263;
}

.aside .nav li a i {
    margin-right: 15px;
}

.aside .aside-open {
    left: 0;
}

.aside-open .main-content{
    margin-left: 300px;
}

/* HERO SECTION CONTENT */
.section {
    background: #fcf3f3;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.hidden{
    display: none !important;
}

.main-content{
    padding-left: 270px;
}

.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    padding-top: 20px;
}

.hero{
    min-height: 100vh;
    display: flex;
    color: #000;
}

.hero .hero-info{
    flex: 0 0 60%;  
    max-width: 60%;
}

h3.greeting{
    font-size: 28px;
    margin: 10px 150px;

}

h3.greeting span{
    font-family: "Allura", cursive;
    font-size: 50px;
    font-weight: 700;
    color: #c07e89;
}

h3.my-profession{
    font-size: 30px;
    margin-top: 35px;
}

.typing {
    color: #c07e89;
}

.hero-info p{
    margin-bottom: 70px;
    font-size: 20px;
}

/*Hero Button */
/* .btn .my-portfolio .animate-bounce{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: #fff;
    border-radius: 40px;
    background: #c07e89;
} */

/* HERO SECTION PROFILE IMAGE*/
.hero-profile{
    display: flex;
    justify-content: flex-end;
    flex: 0 0 40%;
}

/* .hero-rectangle{
    width: 22vw;
    height: 80%;
    background-color: rgb(255, 211, 218);
    position: absolute;
    top: 80px;
    right: 0;
    z-index: -1;
} */

.hero-img{
    width: 400px;
    height: 400px;
    border: 10px solid rgb(255, 211, 218);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img{
    width: 300px;
    height: 300px;
    background-color:rgb(255, 211, 218);
    border: 8px solid rgb(192, 126, 137);
    border-radius: 50%;
    display: grid;
    align-items: end;
    justify-content: end;
    margin-right: 0;
}

/* SOCIAL LINKS */
.hero-socials{
    display: flex;
    justify-content: start;
    column-gap: 1rem;
    
}

.hero-socials-link{
    font-size: 1.3rem;
    color: #000;
    transition:  color .4s;
    padding-left: 15px;
    margin-top: 5rem;
}

.hero-socials-link:hover{
    color: #b85263;
}

/* ABOUT ME SECTION */
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
}

.section-title h2{
    font-size: 40px;
    color: #000;
    font-weight: 600;
}

.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: #b85263;
    position: absolute; 
    top: 100%;
    left: 10px;
}

.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: #b85263;
    position: absolute;
    top: 100%;
    left: 10px;
    margin-top: 8px;
}

.about .section-title h2 span{
    font-family: "Allura", cursive;
    font-size: 50px;
    font-weight: 700;
    color: #c07e89;
}

.about .about-text .career-h4 span{
    font-family: "Allura", cursive;
    font-size: 35px;
    font-weight: 700;
    color: #c07e89;
}

.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h4{
    font-size: 24px;
    padding-top: 15px;
}

.about .about-content .about-text p{
    font-size:  16px;
    line-height: 25px;
    color: var(--text-black-700);
}

/* skill set row */
.about .about-content .personal-info .basic-h4 span{
    font-family: "Allura", cursive;
    font-size: 35px;
    font-weight: 700;
    color: #c07e89;
}

.about .about-content .personal-info{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 15px;
}

.about .about-content .personal-info .info-item{
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid rgb(192, 126, 137);
}

.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
}

.about .about-content .skills{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 35px;
}

.about .about-content .skills .skills-item{
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 13px;
}

.about .about-content .skills .skills-item h5{
    line-height: 30px;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
}

.about .about-content .skills .skills-item .progress{
    background-color: #d5d5e2;
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skills-item .progress .progress-bar{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: #b85263;
}

.about .about-content .experience,
.about .about-content .education{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content h4.title{
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timelines{
    background-color:#fcfcfc;
    padding: 50px 20px;
    border: 1px solid rgb(185, 113, 124);
    border-radius: 10px;
    width: 90%;
    position: relative;
}

.about .about-content .timelines .timeline-details{
    position: relative;
    padding-left: 37px;
    padding-bottom: 25px;
}

.about .about-content .timelines .timeline-details:last-child{
    padding-bottom: 0;
}

.about .about-content .timelines .timeline-details:before{
    content: '';
    width: 2px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: #b85263;
}

.about .about-content .timelines .timeline-details .circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #b85263;
}

.about .about-content .timelines .timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.about .about-content .timelines .timeline-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.about .about-content .timelines .timeline-text{
    line-height: 25px;
    font-size: 16px;
    color: var(--text-black-700);
}

.about .about-content .timelines .timeline-title span{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
}

/* PROJECTS SECTION */
.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
  }

.portfolio{
    position: relative;
}

.portfolio .section-title h2 span{
    font-family: "Allura", cursive;
    font-size: 50px;
    font-weight: 700;
    color: #c07e89;
}

.project-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    background: #fcf3f3;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
  }
  
  .project-img {
    width: 90%;
    height: 90%;
  }
  
  .project-title {
    margin: 1rem;
    color: black;
  }
  
  .project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
  }

  .experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

  .details-container {
    padding: 2rem;
    flex: 2;
    background: #fceef0;
    border-radius: 2rem;
    text-align: center;
    margin-bottom: 50px;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: #c07e89;
}



/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    border: 1px solid #c07e89;
  }

.btn.btn-color-2 {
    background: #fcf3f3;
    border: 1px solid #c07e89;
    color: #000;
  }

.btn.btn-color-2:hover {
    background: #b85263;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 20px 20px 20px rgb(185, 113, 124, 0.35);
}

/* CONTACT ME SECTION */
.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact .section-title h2 span{
    font-family: "Allura", cursive;
    font-size: 50px;
    font-weight: 700;
    color: #c07e89;
} 

.contact .get-in-touch{
    padding-top: 50px;
}

.contact-info-upper-container {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    padding-top: 5rem;

  }
  
  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 0.5rem; */
    margin: 1rem;
    background: (250, 250, 250);
    border-radius: 2rem;
    /* padding: 1rem; */
    height: 30vh;
    /* border-bottom: 1px solid #b85263; */
  }
  
  .contact-info-container p {
    font-size: larger;
  }
  
.hero-socials-link .contact-icon {
    cursor: default;
    height: 3rem;
  }

 .contact-info-container .hero-socials-2 a{
    color: #000;
  }

.contact-info-container .hero-socials-2 p{
    font-size: larger;
    text-decoration: none;
}

/* SOCIAL LINKS */
.hero-socials-2{
    display: flex;
    justify-content: start;
    column-gap: 1rem;
    
}

.hero-socials-link-2{
    font-size: 1.3rem;
    color: #000;
    transition:  color .4s;
    padding-left: 15px;
}

.hero-socials-link-2:hover{
    color: #b85263;
}